---
import Meta from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import { Image } from "astro:assets"
import Img1 from '../images/Field.jpg'
import Img2 from '../images/SmellingFlower.jpg'
import Img3 from '../images/TreeSmile.jpg'
import Img4 from '../images/PurpleFlowers.jpg'
import Img5 from '../images/PinkTree.jpg'
import Img6 from '../images/ColorBlobs.jpg'

---
<Header/>
<Meta />
<div class="gallery-container">
  <div class="image-grid">
    <div class="image-wrap">
      <Image src={Img1} alt="A young girl twirling in a field" height={800} width={600}/>
    </div>
    <div class="image-wrap">
      <Image src={Img2} alt="A young girl smelling a flower" height={800} width={600}/>
    </div>
    <div class="image-wrap">
      <Image src={Img3} alt="A young girl shining her bright smile" height={800} width={600}/>
    </div>
    <div class="image-wrap">
      <Image src={Img4} alt="Beautiful pink tree with a sky in the back" height={800} width={600}/>
    </div>
    <div class="image-wrap">
      <Image src={Img5} alt="Nice patch of flowers, purple, red, and pink" height={800} width={600}/>
    </div>
    <div class="image-wrap">
      <Image src={Img6} alt="Shadows of colorful glass sprayed on to the concrete" height={800} width={600}/>
    </div>
  </div>
</div>